

.grid {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}

.first-row {
    display:flex;
    /*width:1200px;  */
}

.middle{
    width:100%;
}
.col-1 {
   /* margin-left : 0px;
    margin-top : 15px;
    margin-right: 15px;*/
    width:32.26%;
}

.col-2 {
   /* margin-top : 15px;
    margin-right: 15px;*/
    width:32.26%;
}

.col-3 {
   /* margin-top : 15px;*/
    width:32.26%;
}

.col-blank{
    width: 1.61%;
}

.column-logo{
    width:75%;
}
.column-heading {
    width:25%;
    color:#BCBBBB;
}

.row-projects{
    display:flex;
}

.featuredWork{
    color:#BCBBBB;
}

hr {
  border: 0;
  background-color: #BCBBBB;
  height: 3px;
}

@media screen and (max-width: 931px){
    .column-logo{
        width:100%;
    }

    .column-heading{
        width:100%;
    }

    .middle{
        width:100%;
    }


}

@media screen and (min-width: 961px){
    .col-1{
        width:100%
    }

    .col-2{
        width:100%
    }

    .col-3{
        width:100%
    }

    .col-blank{
        width: 100%;
    }
}





