

.grid {
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}

.firstRow {
    display:flex;
}

.heading-col-2 {
    width:25%;
    color:#BCBBBB
}

.logo-col-1 {
   width:75%;
}


.heading-row-2 {
    display:flex;
    width:100%;
}

.blank-column {
   width:38%;
}

.col-frontend-ninja {
   width:62%
}

.col-1 {
    margin-left : 0px;
    margin-top : 15px;
    margin-right: 15px;
}

.col-2 {
    margin-top : 15px;
    margin-right: 15px;
}

.col-3 {
    margin-top : 15px;
}

.featuredWork {
    color:#BCBBBB;
}

.row-projects {
    display:flex;
}

.projectName {
    text-align: center;
    color:#747704;
}

hr {
  border: 0;
  color: #BCBBBB;
  background-color: #BCBBBB;
  height: 3px;
}
